#map { 
    height: 400px; 
    width: 60%;
    text-align: center;
    margin:0px auto;
}

body{
    color: white;
    font-weight: 200;
    text-align: center;
    background-color: gray;
	margin: 0;
}

body h1{
    margin-bottom: 30px;

}
.container {
    overflow: hidden;
  }

.btn {
    border: none;
    outline: none;
    padding: 8px 10px;
    background-color: #f1f1f1;
    cursor: pointer;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
}

.btn:hover {
    background-color: grey;
    color: white;
}

/* Add a dark background to the active button */
.btn.active {
    background-color: #666;
    color: white;
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: white;
    color: black;
  }

  /* css du formulaire de rajouter un vehicule */
  #add_vehicle_form {
    width: 30%;
    margin: 0 auto;
    background-color: #fcfcfc;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
  }
  
  #add_vehicle_form * {
      box-sizing: border-box;
  }
  
  #add_vehicle_form input {
    margin-bottom: 0px;
  }

  #add_vehicle_form .header {
    color: #333;  
  }
  
  #add_vehicle_form input[type=text] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
  }
  
  #add_vehicle_form .radio{
      padding-left: 0%;
      text-align: left;
      color: #666;
  }

  #add_vehicle_form .type{
    color:#333;
  }
  
  #add_vehicle_form input:not(:checked) + #feedback-phone {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0%;
  }
  
  #add_vehicle_form #feedback-phone {
    transition: .3s;
  }
  
  #add_vehicle_form .submit {
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;
    
    background: #207cca; /* Old browsers */
    background: -moz-linear-gradient(left, #e6a10b 0%, #cf440d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e6bd0b 0%,#cf440d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e6bd0b 0%,#cf440d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 ); /* IE6-9 */
  }
  

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #ff4d00 50%, #960000 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.geocoder {
        height: 100px;
        width: 150px;
        position: absolute;
        top: 20px;
        left: 10px;
        background-color: rgba(255, 255, 255, .9);
        padding: 15px;
        text-align: left;
        font-family: 'Arial';
        margin: 0;
        font-size: 13px;
    }
    #instructions {
        position:absolute;
        height: 50px;
        margin:20px;
        width: 25%;
        top:0;
        bottom:0;
        padding: 20px;
        background-color: rgba(255,255,255,0.9);
        overflow-y: scroll;
        font-family: sans-serif;
    }